<div id="container">
<div id="nav">
  	<p>
      	<span id="userName">邹旭</span>
          <span id="userType">成人</span>
          <span id="productName">远程心电监控</span>
          <span id="loginDate"><%= DateTime.parse(Time.now.to_s).strftime('%Y-%m-%d %H:%M:%S').to_s%></span>
      </p>
  </div>

  <!--maincontent start -->
  <div id="main">
  	
      <!--left column #mainbar start-->
  	<div id="mainbar">      	
          <!--===================charts block start=====================-->
          <div id="charts">
              <h3 class="special">心电</h3>
              <div id="ecgChart" class="chartsDiv"></div>
              <h3>呼吸</h3>
              <div id="brChart" class="chartsDiv"></div>
              <h3>血压</h3>
              <div id="pulseChart" class="chartsDiv">                   
              </div>
          </div>
          <!--==================charts block end=======================-->
    </div>
        <!--left column #mainbar end-->    
      <div id="sidebar">
      	 <!--==============right column 1 ==================================-->
          <div class="sidebarDiv" id="heartInfo">
            <p class="first"><span class="topTitle12 fontSize10">心率（搏/分钟）</span></p>
            <p class="top10"><span id="heartData" class="font fontSize55 left30" >120</span></p>

          </div>
          <!--==============right column 1 end =================================-->
          
          
          <!--===============right column 2 ===================================-->
          <div class="sidebarDiv" id="basicInfo">            
        	   <p class="first"><span class="topTitle12 fontSize10 whiteColor">血压（mmHg）</span></p>          
              <p class="top10"><span class="topTitle12 fontSize10 whiteColor">收缩压</span><span class="fontSize50 left30">115</span></p>
              <p><span class="topTitle12 fontSize10 whiteColor">平均压</span><span class="fontSize40 left30">95</span></p>
              <p><span class="topTitle12 fontSize10 whiteColor">舒张压</span><span class="fontSize50 left30">80</span></p>                 
          </div>
          <!--===============right column 2 end ================================-->
          
          
          <!--===============right column 3 ====================================-->
          <div class="sidebarDiv" id="spoeInfo">
            <p class="first">
            	<span class="topTitle12 fontSize10">血氧饱和（%）</span>
            </p>
            <p class="top10">
                <span id="spo2Data" class="fontSize50 left30">98</span>
           	</p>
             
          </div>
          <!--===============right column 3 end==================================-->
          
          <!--===============right column 4====================================== -->
          <div class="sidebarDiv" id="tempInfo">
              <div class="leftInfo">
                <p class="top5"><span class="topTitle12 fontSize10">体温（摄氏度）</span></p>
                <p class="top5"><span class="topTitle12 fontSize10">T1</span><span  id="tmpDataT1" class="fontSize30">37.7</span></p>
                <p class="top5"><span class="topTitle12 fontSize10">T2</span><span  id="tmpDataT2" class="fontSize30">37.2</span></p>
            </div>
            <div class="rightInfo">
               <p><span class="topTitle12 fontSize10">TD</span><span class="fontSize30">5</span></p>
            </div>

          </div>
          <!--============right column 4 end====================================-->
      </div>
      <!--right column #sidebar end-->
      
      <!--clear float -->
  	<div class="clr"></div>
  </div>
 <!--maincontent end -->
</div>
<%= subscribe_to "/temperature" %>
<%= subscribe_to "/ecg" %>
<%= subscribe_to "/ecgs" %>
<%= subscribe_to "/pulse_spo2" %>
<%= subscribe_to "/breath" %>
<%= subscribe_to "/breaths" %>


